<% if @user %>
<div class="profile">
   <div class="p-in">
    <% if @user.img.url != nil  %>
      <%= image_tag @user.img.url %>
    <% else %>
      <%= image_tag("city.png") %>
    <% end %>
    <p class="user-name"><%= @user.name %></p>
   </div>
</div>
    <div class="my-page">
        <ul>
      
            <li><%= link_to "プロフィール編集", "/user/#{@user.id}/edit" %></li>

        </ul>
    </div>

<% else %>
    <h1>私のページ</h1>
<% end %>

