<div class="about">
    <div class="about-title">
        <h1>このサイトについて</h1>
    </div>
    <div class="about-point">
        <%= image_tag("en.png", alt: "img") %>
        <h1>目的</h1>
        <p>最大の目的は英語を話す環境を沖縄で作るです！
        <br>
        <br>
           沖縄では外国人の方が多いです。しかし、英語を話せる人は少なく感じます。自分の周りにも話せるはいますが、
           その人たちは、勉強して話せるようになったのではなく、「親が話せるから」「アメリカンスクールに通っているから」
            などの環境要因が大きく関わってきます。
            小学校、中学校、高校と英語の勉強する環境はありましたが。
            喋れない人は多いです。学校では英語で話すということは
            あまりしません。英語を話すという環境はとても大事です。
            そこで、英語を使う環境を作りたいです。
            </p>
    </div>
    <div class="about-why">
        <%= image_tag("en.png", alt: "img") %>
        <h1>経緯</h1>
        <p>私は一年間留学に行っていました。留学中は半年間
語学学校に通い勉強をしていました。学校ではずっと
英語を話していて、上達していくのも実感できていました。
しかし、学校を卒業後は英語を使う機会が少なくなりました
そして帰国後も英語使う環境がありませんでした。英語は
使わないと忘れてしまうものです。留学先でできた友達も
帰ってきて、英語を使う機会がないと、同じ環境で苦しんで
いました。そこで自分で、英語を使う環境を作ればいいと
思いこのサイトを立ち上げました。</p>
    </div>
    <div class="about-gole">
        <%= image_tag("en.png", alt: "img") %>
        <h1>目標</h1>
        <p>継続的にイベントを開催して、英語に興味を持ってくれ
る人や、英語を話すことに抵抗がなくなる人を増やして
いきたいです。
最終的には英語を話せる人を増やして、みんなで談笑
したいと思っています。</p>
    </div>
</div>