<div class="honme">
    <div class="home-1">
        <%# <img src="../../assets/images/will.png"> %>
        <%= link_to image_tag("will.png", alt: "Rails logo") %>
        <h1>English In OKINAWA</h1>
    </div>
    <div class="home-2">
       <div class="home-2-text">
        <h1>What is English In OKINAWA</h1>
        <p><span>英語</span>を話したい人が集まって</p>
        <p><span>英語</span>で話す・聞く・勉強・相談</p>
        <p><span>英語</span>に関してならなんでもOK</p>
       </div>
        <div class="home-2-img">
            <%= image_tag("city.png", alt: "img") %>
        </div>
    </div>
    <div class="home-3">
      <%# <div class="home-3-img">
        <%= image_tag("city.png", alt: "img") %>
      <%# </div> %>
        <h1>こんな人の<span>力</span>になります</h1>
        <p>これから留学に<span>行こう</span>と思う人へ</p>
        <p>留学から帰ってきて英語を<span>使う</span>環境が欲しい人へ</p>
        <p>沖縄で英語を<span>学びたい</span>人へ</p>
        <p>英語の<span>環境</span>が欲しい方へ</p>
    </div>
    <div class="home-4">
        <div class="home-4-con">
            <h1>使い方</h1>
            <p>イベント一覧をチェック</p>
            <p>参加可能なイベントに参加ボタンで参加する</p>
            <p>わからないことはわからないことはイベントのチャット機能を使ってイベントホストに質問できます</p>
            <p>当日参加</p>
        </div>
    </div>
    <div class="home-5">
        <div class="home-5-con home-5-1">
            <h1>特徴1</h1>
            <span>友達との参加Ok<br>チャットで参加人数を報告してください<br>初めてでも気軽に参加できます。</span>
        </div>
        <div class="home-5-con home-5-2">
            <h1>特徴2</h1>
            <span>毎回複数のトークテーマを用意します<br>一対一で英語でトーク緊張する人は、前もって準備しといても大丈夫</span></div>
        <div class="home-5-con home-5-3">
            <h1>特徴3</h1>
            <span>最後はフリートークで英語力を磨きましょう<br>
            なるべく日本語を使わずに英語で話すことに慣れていきましょう
            </span></div>
        </div>
    </div>

</div>